$color-blue:       #1574af;
$color-orange:     #E65C00;
$color-bg:         #e3e3e3;
$color-white:      #ffffff;
$color-black:      #000000;
$color-black-text: #373737;
$color-green:      #2f8a26;
$color-black-75:   #757575;
$color-f3:         #f3f3f3;
$color-d5:         #d5d5d5;

$width-mobile:     'max-width: 768px';